<div>
    <img src={{this.image}}/>
    <div>
        <form action="/bookClass/{{this._id}}" method="POST">
            <h2><span>{{this.name}}</span> With <span>{{this.instructorName}}</span></h2>
            <p>Duration: {{this.duration}}</p>
            <button type="submit">Book Now</button>
        </form>
    </div>
</div>